In [1]:
import pandas as pd
from sklearn_pandas import DataFrameMapper

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
df = pd.read_csv('./listings_summary.csv.zip')

In [4]:
target = 'price'

### Clean Target

In [5]:
from coerce_target import convert_to_num, remove_zeros_in_target, drop_other_price_cols

In [6]:
price = convert_to_num(df[target])

In [7]:
df_coerced_price = df.assign(price = price)

In [8]:
df_coerced_price.shape

(22552, 96)

In [9]:
pruned_df = remove_zeros_in_target(df_coerced_price, target)

In [10]:
import numpy as np
log_price = np.log(pruned_df['price'])

In [11]:
df_log_price = pruned_df.assign(log_price = log_price)

In [12]:
removed_price_cols_df = drop_other_price_cols(df_log_price)

In [13]:
removed_price_cols_df.shape

(22544, 95)

### Remove All Same

In [14]:
from remove_all_same import find_all_same, drop_same_cols, same_cols

In [15]:
all_same_cols = find_all_same(removed_price_cols_df)

In [16]:
# all_same_cols

In [17]:
df_removed_all_same = drop_same_cols(all_same_cols, removed_price_cols_df)

In [18]:
df_removed_all_same.select_dtypes('object').shape

(22544, 54)

### Coerce Num Cols

In [19]:
from convert_nums import from_price_and_percent_steps, find_almost_num_cols

In [20]:
almost_num_cols = find_almost_num_cols(df_removed_all_same)

In [21]:
almost_num_cols
# ['host_response_rate', 'security_deposit', 'cleaning_fee', 'extra_people']

['host_response_rate', 'security_deposit', 'cleaning_fee', 'extra_people']

In [22]:
percent_cols = almost_num_cols[:1]
price_cols = almost_num_cols[1:]
price_percent_steps = from_price_and_percent_steps(price_cols, percent_cols)

In [23]:
to_number_mapper = DataFrameMapper(price_percent_steps, df_out = True)

In [24]:
converted_nums_df = to_number_mapper.fit_transform(df_removed_all_same)

In [25]:
df_with_convert_nums = df_removed_all_same.copy()

In [26]:
df_with_convert_nums[converted_nums_df.columns] = converted_nums_df

In [27]:
df_with_convert_nums.select_dtypes('object').shape

(22544, 50)

### Convert Booleans

In [28]:
from convert_bools import boolean_mapper, top_val_bool_mapper, cols_to_remove

In [29]:
coerced_num_df = df_with_convert_nums.copy()
true_bool_df = boolean_mapper.fit_transform(coerced_num_df)

In [30]:
converted_bools_df = df_with_convert_nums.copy()
converted_bools_df[true_bool_df.columns] = true_bool_df

In [31]:
converted_bools_df.select_dtypes('object').shape

(22544, 42)

In [32]:
almost_bools_coerced = top_val_bool_mapper.fit_transform(converted_bools_df)

In [33]:
almost_bools_df = converted_bools_df.copy()
almost_bools_df[almost_bools_coerced.columns] = almost_bools_coerced

In [34]:
all_bools_coerced_df = almost_bools_df.drop(columns = cols_to_remove)

In [35]:
all_bools_coerced_df.select_dtypes('object').shape

(22544, 38)

### Coerce Categories

In [36]:
from convert_cats import cat_cols, reduce_cat_df, one_hot_steps

In [37]:
reduced_cat_df = reduce_cat_df(all_bools_coerced_df, cat_cols)

In [38]:

# one_hot_steps = [([col], [SimpleImputer(strategy = 'constant', fill_value='na'),
#            OneHotEncoder()]) for col in cat_cols]

In [39]:
one_hot_mapper = DataFrameMapper(one_hot_steps, df_out = True)

In [40]:
cat_one_hot_df = one_hot_mapper.fit_transform(reduced_cat_df)

In [41]:
cat_df = all_bools_coerced_df.drop(columns = cat_cols)
cat_df[cat_one_hot_df.columns] = cat_one_hot_df

In [42]:
cat_df.shape

(22544, 247)

In [43]:
cat_df.select_dtypes('object').shape

(22544, 24)

### Coerce DateTimes

In [44]:
from coerce_date_lib import to_date_cols, add_datepart, date_cols

In [45]:
date_cols_df = to_date_cols(cat_df, date_cols)

In [46]:
[add_datepart(date_cols_df, col) for col in date_cols_df.columns]

[None, None, None, None, None]

In [47]:
date_cols_df[:2]

,last_scrapedYear,last_scrapedMonth,last_scrapedWeek,last_scrapedDay,last_scrapedDayofweek,last_scrapedDayofyear,last_scrapedIs_month_end,last_scrapedIs_month_start,last_scrapedIs_quarter_end,last_scrapedIs_quarter_start,...,last_reviewDay,last_reviewDayofweek,last_reviewDayofyear,last_reviewIs_month_end,last_reviewIs_month_start,last_reviewIs_quarter_end,last_reviewIs_quarter_start,last_reviewIs_year_end,last_reviewIs_year_start,last_reviewElapsed
0,2018,11,45,7,2,311,False,False,False,False,...,28.0,6.0,301.0,False,False,False,False,False,False,1540684800
1,2018,11,45,7,2,311,False,False,False,False,...,1.0,0.0,274.0,False,True,False,True,False,False,1538352000

In [48]:
replaced_dt_df = cat_df.drop(columns = ['last_scraped', 'host_since', 
'calendar_last_scraped', 'first_review','last_review'])

In [49]:
replaced_dt_df[date_cols_df.columns] = date_cols_df

In [50]:
object_replaced_df = replaced_dt_df.select_dtypes('object')

In [51]:
object_replaced_df.shape

(22544, 19)

### Replace Null Values

In [52]:
from handle_na_vals import build_null_mapper, has_na_cols

In [53]:
cols_with_na = has_na_cols(replaced_dt_df)

In [54]:
is_null_mapper = build_null_mapper(replaced_dt_df, cols_with_na)

In [55]:
imputed_null_df = is_null_mapper.fit_transform(replaced_dt_df)

In [56]:
imputed_null_df.isna().any(axis = 0).any()

False

In [57]:
df_with_is_na = replaced_dt_df.drop(columns = cols_with_na)

In [58]:
df_with_is_na[imputed_null_df.columns] = imputed_null_df

In [59]:
df_with_is_na.select_dtypes(exclude = 'object').isna().any(axis = 0).any()

False

### Split and Train

In [78]:
num_df_with_is_na = df_with_is_na.select_dtypes(exclude = 'object')

In [79]:
num_df_with_is_na.to_csv('./listings_target.csv')

In [84]:
dtypes_dict = num_df_with_is_na.dtypes.astype(str).to_dict()

In [61]:
df_removed_outliers = num_df_with_is_na[num_df_with_is_na['log_price'] < 6]

In [62]:
df_with_is_na.shape, df_removed_outliers.shape

((22544, 342), (22441, 323))

In [63]:
target_cols = ['price', 'log_price']
X = df_removed_outliers.drop(columns = target_cols)
y = df_removed_outliers['price']

In [64]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = .4)

In [65]:
X_validate, X_test, y_validate, y_test = train_test_split(X_test, y_test, random_state = 1, test_size = .5)

In [66]:
X_train.shape, X_test.shape, X_validate.shape

((13464, 321), (4489, 321), (4488, 321))

In [67]:
from sklearn.linear_model import LinearRegression

In [68]:
model = LinearRegression()

In [69]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [70]:
model.score(X_validate, y_validate)

0.4213321441317682

In [71]:
test_df = X_test.assign(price = y_test)

In [72]:
test_df.to_csv('./listings_test_df.csv')

In [73]:
train = X_train.assign(price = y_train)
validate = X_validate.assign(price = y_validate)

In [74]:
listings_train_df = pd.concat([train, validate])

In [75]:
listings_train_df.to_csv('./listings_train_df.csv')

### Permutations

In [76]:
from eli5.sklearn import PermutationImportance
import eli5
import numpy as np

perm = PermutationImportance(model).fit(X_validate, np.log(y_validate))

exp_df = eli5.explain_weights_df(perm, feature_names = list(X_train.columns))

In [77]:
top_cols = exp_df[:75]

In [600]:
top_feats = top_cols['feature'].values

In [601]:
model = LinearRegression()
model.fit(X_train[top_feats], y_train)
model.score(X_validate[top_feats], y_validate)

0.34788054943397073

### Cols to Examine

* amenities and license